CompileFlags:
  CompilationDatabase: "build/debug"

---
If:
  PathMatch: bindings/.*
CompileFlags:
  CompilationDatabase: "build/bindings"

---
If:
  PathMatch: bin/wasm/.*
CompileFlags:
  CompilationDatabase: "build/wasm"
